.cc-container {
    background-color: #2a292a;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.cc-label {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.cc-textarea {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    resize: vertical;
    font-size: 16px;
    font-family: inherit;
    background-color: #fdfdfd;
    color: #ffffff;
}

.cc-textarea:focus {
    outline: 2px solid #470e0e;
    background-color: #303030;
}

.cc-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cc-submit-btn {
    width: fit-content;
    align-self: flex-end;
    padding: 12px 25px;
    background-color: #470e0e;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.cc-submit-btn:hover {
    background-color: #ac3535;
    transform: translateY(-2px);
}

.cc-submit-btn:disabled {
    background-color: #777;
    cursor: not-allowed;
}

.cc-back-btn {
    display: block;
    margin-bottom: 25px;
    padding: 12px 25px;
    border-radius: 25px;
    background-color: #470e0e;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.cc-back-btn:hover {
    background-color: #ac3535;
    transform: translateY(-2px);
}

@media (max-width: 900px) {
    .cc-textarea {
        min-height: 80px;
    }
}








