html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main {
    background: #1d1c1c;
}

.tutorial-page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1d1c1c;
    color: #fff;
}

.tutorial-page-content {
    display: flex;
    flex: 1;
    margin-top: 20vh;
    padding: 20px;
    gap: 20px;
}

/* Left sidebar */
.tutorial-left-sidebar {
    width: 20%;
    background: #2a292a;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tutorial-left-sidebar .filter label {
    display: block;
    margin-bottom: 5px;
}

.tutorial-left-sidebar .filter input,
.tutorial-left-sidebar .filter select {
    width: 100%;
    padding: 8px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: none;
    background: #3a383a;
    color: #fff;
    box-sizing: border-box;   
}

/* Center browser */
.tutorial-main-menu {
    width: 60%;
    background: #1a191a;
    border-radius: 20px;
    min-height: 60vh;

    box-shadow:
        inset 0 8px 18px rgba(0, 0, 0, 0.7),
        inset 0 -8px 18px rgba(60, 60, 60, 0.4),
        inset 8px 0 18px rgba(0, 0, 0, 0.5),
        inset -8px 0 18px rgba(80, 80, 80, 0.4);

    border: 2px solid #262526;
}


.tutorial-main-menu .tutorial-browser {
  display: flex;
  flex-direction: column; 
  gap: 15px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  max-height: 600px; 
  overflow-y: auto; 
}

.tutorial-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b2b2b;
  border-radius: 15px;
  padding: 10px 15px;
  width: 100%;
  height: 120px; 
  box-sizing: border-box;
  gap: 15px;
  color: #fff;
  flex-shrink: 0;
}

.tutorial-card img {
  width: 150px; 
  height: 100px;
  border-radius: 8px;
  object-fit: contain;
}

.tutorial-card .tutorial-info {
  flex: 1;
  text-align: center;
}

.tutorial-card .tutorial-card-title {
  font-size: 30px;
  font-weight: bold;
}



@media (max-width: 800px) {
  .tutorial-card .tutorial-card-title {
    font-size: 20px; 
  }
  .tutorial-card img {
    width: 100px;   
   
  }
}


@media (max-width: 650px) {
  .tutorial-card .tutorial-card-title {
    font-size: 16px; 
  }

  .tutorial-card img {
    width: 70px;   
   
  }

  .tutorial-card {
    height: 80px; 
    gap: 10px;    
  }
}



.tutorial-card .tutorial-checkout-btn {
  padding: 20px 20px; 
  background-color: #470e0e; 
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.tutorial-card .tutorial-checkout-btn:hover {
  background-color: #ac3535;
}

.tutorial-card .hidden-info {
  display: none;
}


/* Right sidebar */
.tutorial-right-sidebar {
    width: 24%;
    background: #2a292a;
    border-radius: 15px;
    min-height: 60vh;
}

/* Footer */
.tutorial-footer {
    height: 20%;
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
    background-image: linear-gradient(127deg, #0c0b0c 20%, #413e4d 91%);
    text-align: center;
    padding: 20px;
}

/*Registration Bar*/

.reg-tutorials .registration-bar {
    position: fixed;
    top: 20px;
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 2000;
    background: rgba(30, 30, 30, 0.85);
    backdrop-filter: blur(10px);
    padding: 18px 40px;
    border-radius: 40px;
    box-shadow: 0 8px 25px rgba(161, 161, 161, 0.35);
    transition: left 0.3s ease, background 0.3s ease;
}

.reg-tutorial .registration-inner {
    display: flex;
    gap: 50px;
    align-items: center;
}

.reg-tutorial .registration-item {
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    font-weight: 300;
    transition: 0.2s ease;
}

.reg-tutorial .registration-item:hover {
    color: #ff6969;
    transform: translateY(-2px);
}

/* Back Home Button */
.back-home-container {
    width: 100%;
    display: flex;
    justify-content: center;
     margin-top: 10px;
    margin-bottom: 30px;
     position: fixed;
    top: 110px;
    left: 13px;  
    z-index: 1500;
}

.back-home-button {
    display: block;
    width: fit-content;
    padding: 20px 30px;
    border-radius: 25px;
    background-color: #470e0e;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.back-home-button:hover {
    background-color: #ac3535;
    transform: translateY(-2px);
}